mixin transactionForm(transaction = {})
  form(action="/add" method="POST" class="card")
    label(for="info") Info
    input(type="text" name="info" placeholder="Transaction description")
    label(for="description") Price
    input(type="text" name="price" min="0" pattern="^\\d*(\\.\\d{0,2})?$" placeholder="0.00")
    label(for="date") Date
    input(type="date" name="date" min="0")
    input(type="submit" value="Save →" class="button")