mixin transactionForm(transaction = {})
  script(src='../../javascripts/form-helpers.js')
  form(action="/add" method="POST" class="card")
    ul.tags
      .tag.tag__choice
        input(type="radio" name="group" value="expense" id="expense" onclick="populate(this.id, 'category')")
        label(for="expense") Expense
        input(type="radio" name="group" value="income" id="income" onclick="populate(this.id, 'category')")
        label(for="income") Income

    label(for="category") Category
    select(name="category" id="category")
      option(value="") Select a Category

    label(for="info") Info
    input(type="text" name="info" placeholder="Transaction description")
    label(for="description") Price
    input(type="text" name="price" min="0" pattern="^\\d*(\\.\\d{0,2})?$" placeholder="0.00")
    label(for="date") Date
    input(type="date" name="date" min="0")
    input(type="submit" value="Save →" class="button")