mixin transactionDisplay(transactions = {})
  script(src='../../javascripts/display.js')
  - const categories = transactions.map( object => object._id.category )
  each cat in categories
    h3= cat
    - const thisCategory = transactions.find( object => object._id.category === cat );
    table
      tr
        th Info
        th Price
        th Date
      each transaction in thisCategory.transactions
        tr
          td= transaction.info
          td $#{parseFloat(Math.round((transaction.price / 100) + "e" + 2) + "e-" + 2).toFixed(2)}
          td= h.dateFns.format(transaction.date, 'ddd MMM D[,] YYYY')