mixin transactionForm(transaction = {})
  form(action="/add" method="POST" class="card")
    ul.tags
      .tag.tag__choice
        input(type="radio" name="group" value="expense" id="expense" checked)
        label(for="expense") Expense
        input(type="radio" name="group" value="income" id="income")
        label(for="income") Income

    - const categories = ['Income - Salary', 'Income - Cash Back', 'Income - Gifts', 'Income - Other', 'Food', 'Transportation', 'Trips', 'Gifts', 'Health', 'Beauty', 'Recreational Activities', 'Shopping', 'Sports', 'Pets', 'Education', 'Entertainment', 'Work', 'Housing', 'Other']
    label(for="category") Category
    select(name="category")
      option(value="" selected) Select a Category
      each category in categories
        option(value=category) #{category}
    label(for="info") Info
    input(type="text" name="info" placeholder="Transaction description")
    label(for="description") Price
    input(type="text" name="price" min="0" pattern="^\\d*(\\.\\d{0,2})?$" placeholder="0.00")
    label(for="date") Date
    input(type="date" name="date" min="0")
    input(type="submit" value="Save →" class="button")