mixin transactionDisplay(transactions = {})
  - const categories = getCategories(transactions)
  each cat in categories
    h3= cat
    - const catTrans = getTransactions(transactions, cat)
    table
      tr
        th Info
        th Price
        th Date
      each trans in thisCategory.transactions
        tr
          td= transaction.info
          td= h.display.toPrice(trans.price)
          td= h.display.displayAsDate(trans.date)