mixin transactionDisplay(transactions = {})
  script(src='../../javascripts/display.js')
  p= transactions.map( object => { object._id.category })
  //- - const categories = transactions.map( object => { object._id.category })
  //- each cat in categories
  //-   h3= cat